@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@300;400;600;700&display=swap');
/* ===========Hepta+Slab========== */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');
/* ===========Raleway========== */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Hepta Slab', serif;
  font-family: 'Raleway', sans-serif;
}

/* ================Nav-css============== */
.tryangle a:hover {
  position: relative;
  background-color: #FCBF49;
  transform: all ease;
  -webkit-transform: all ease;
  -moz-transform: all ease;
  -ms-transform: all ease;
  -o-transform: all ease;
}

.tryangle a:hover::after {
  content: '';
  position: absolute;
  height: 80px;
  width: 100%;
  background: #FCBF49;
  clip-path: polygon(100% 0, 0 0, 50% 20%);
  top: 100%;
  left: 0px;
}

.tryangle a.active::after {
  content: '';
  position: absolute;
  height: 80px;
  width: 100%;
  background: #FCBF49;
  clip-path: polygon(100% 0, 0 0, 50% 20%);
  top: 100%;
  left: 0px;
}

/* Hero */
.homehero {
  background-image: url('Img/responsive-banner.jpg');
}

/* Student Review */
.clip-student {
  background: rgba(234, 226, 183, 1);
  position: relative;
}

.clip-student::after {
  content: '';
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
  clip-path: polygon(81% 0, 27% 0, 50% 80%);
  background: rgba(234, 226, 183, 1);
  height: 100px;
  width: 100px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.student_review>.swiper {
  padding-bottom: 60px !important;
}

.ins_card {
  position: relative;
  transform: 1s all ease;
  -webkit-transform: 1s all ease;
  -moz-transform: 1s all ease;
  -ms-transform: 1s all ease;
  -o-transform: 1s all ease;
}

.social_item {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  cursor: pointer;
}

.ins_card:hover .social_item {
  display: block;
  opacity: 1;

}



/* ========================Tabs============= */
.react-tabs__tab-list {
  margin-top: 50px;
  display: flex;
  margin-bottom: 50px;

}

.react-tabs__tab {
  margin-right: 20px;
  cursor: pointer;
  padding: 10px;
  font-weight: 600;
  font-size: 18px;
}

.react-tabs__tab-list ul li {
  cursor: pointer;

}

.react-tabs__tab-list li:focus {
  outline: none;
  cursor: pointer;
}

.react-tabs__tab--selected {
  border-bottom: 2px solid #FCBF49;
  color: #FCBF49;
}

/* ========================Tabs============= */


/* ===============Sign-with=============== */
.sing_width {
  position: relative;

}

.sing_width::after {
  content: '';
  position: absolute;
  width: 180px;
  height: 2px;
  background: #003049;
  top: 14px;
  right: 0px;
}

.sing_width::before {
  content: '';
  position: absolute;
  width: 180px;
  height: 2px;
  background: #003049;
  top: 14px;
  left: 0px;
}


/* =================MenuBar================ */

.menu_bar {
  background: #fff;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1111111111;
}

.total_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;


}

.logo_area {
  width: 25%;
}



.main_menu {
  display: flex;
  align-items: center;

}

.menu_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

}

.nav_icon {
  display: flex;
  align-items: center;
}


.instructor {
  background: transparent !important;
}

.mobile-menu_icon {
  display: none;
}

/* =================MenuBar================ */
/* Small device */
@media (min-width: 640px) {
  .homehero {
    background-color: red;
    background-image: url('Img/HomeBanner.jpg') !important;
    margin-top: 60px !important;
  }
}

@media (max-width: 640px) {

  .react-tabs__tab-list {
    display: block;
    text-align: center;
  }

  .react-tabs__tab {
    margin-right: 0;
  }

  .logo_area {
    width: 50%
  }

  .logo_area img {
    width: 150px;
    margin-left: 20px;
  }

  .nav-link-mobile {
    display: block;
    position: absolute;
    background: #fff;
    left: 0;
    top: 69px;
    width: 70%;
    height: 100vh;
    padding-right: 20px;
    padding-bottom: 20px;

  }

  .nav-link-mobile li {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .mobile-menu_icon {
    display: block;
  }

  .menu_item {
    display: none;
  }
}

@media (max-width: 992px) {
  .sing_width::after {
    width: 50px;
  }

  .sing_width::before {
    width: 50px;
  }
}