@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@300;400;600;700&display=swap');
/* ===========Hepta+Slab========== */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');
/* ===========Raleway========== */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Hepta Slab', serif;
  font-family: 'Raleway', sans-serif;
}

.clip-student {

  background: rgba(234, 226, 183, 1);
  position: relative;

}

.clip-student::after {
  content: '';
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
  clip-path: polygon(81% 0, 27% 0, 50% 80%);
  background: rgba(234, 226, 183, 1);
  height: 100px;
  width: 100px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.student_review>.swiper {
  padding-bottom: 60px !important;
}

.ins_card {
  position: relative;
  transform: 1s all ease;
  -webkit-transform: 1s all ease;
  -moz-transform: 1s all ease;
  -ms-transform: 1s all ease;
  -o-transform: 1s all ease;


}

.social_item {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  cursor: pointer;

}

.ins_card:hover .social_item {
  display: block;
  opacity: 1;

}